<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/ngStorage/ngStorage.min.js"></script>
    <script src="/angular-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <!-- <navbar></navbar> -->
    <div ui-view></div>
    <!-- <div id="button-container" style="width: 50px; height: 50px; margin: 0 auto;"> -->
        <!-- <button id="checkout-button">Checkout</button> -->
    <!-- </div> -->
    <script>
        // console.log("checkout-button",$("#checkout-button"));
        // $("#checkout-button").on('click', function(){
            // console.log("You clicked the button")
            // $('body').append("<iframe style='position: absolute;display: block; width: 60%; height: 600px; margin: 0 auto; z-index: 9999;' src='/checkout'></iframe>")
        // })
    </script>
    <!-- <button id="checkout-button">Checkout</button> -->



    <!-- BUTTON CONTAINER HTML -->
 


    <!-- IFRAME LOADER SCRIPT -->
    <script>

        // var transactionHashValue = ""
        // var transactionTimestamp = ""
        // var transactionOutcomeObject = {}
        // var transactionFinalized = false;
        // var transactionError = false;

        var checkoutComplete = function(){
            
            //FOR WEB APP DEVELOPER:
            //Make http/ajax call here 
            //to your web app server to "confirmation route"
            //Send an object that contains
            //      -transactionOutcomeObject

            $.ajax({
              method: "POST",
              url: "confirm",
              data: transactionOutcomeObject
            })
            .done(function( success ) {
                //if successful confirmation response, set variable for TchoPay to resolve iframe state
                //to "transaction completed" for buyer
                if(success===1){
                    transactionFinalized = true;
                }
                if(success===2){
                //if due to a communication error with TchoPay, their server did not approve your
                //call, signify a transactionError, which TchoPay will use to resolve the iframe 
                //to an error state.
                    transactionError = true;
                }
                if(success===3){
                //this is your server response to an incumbent outcome object that did not authenticate as coming from TchoPay
                //choose your recourse to implement here
                //eg. redirect to an error page/view

                }
            });
        }

    </script>








</body>
</html>