<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/ngStorage/ngStorage.min.js"></script>
    <script src="/angular-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div ui-view></div>
    <script>
        console.log("the button script is running")
        $("#checkout-button").on('click', function(){
            console.log("you clicked the button")
            $('body').append("<iframe style='position: absolute;display: block; width: 60%; height: 600px; margin: 0 auto; z-index: 9999;' src='/checkout'></iframe>")
        })
    </script>
</body>
</html>