<navbar></navbar>
<form name="registrationForm" ng-submit="registrationForm.$valid && submitEditCard()">
                
    <br>
    <h1 id="failPass" ng-show="failPass">Invalid password.  Please enter a valid password.</h1>
    <br>
    <p><strong>Current Web App Domain:</strong></p>
    <p>{{currentProperty}}</p>
    <br>
    <div class="form-group" ng-class="{ 'has-error' : registrationForm.webAppDomain.$invalid && registrationForm.$submitted }">
        <label>New Web App Domain Name</label>
        <input type="url" name="webAppDomain" ng-model="user.webAppDomain" class="form-control" id="webAppDomain" placeholder="Enter web app domain." required>
        <p ng-show="registrationForm.webAppDomain.$error.required && registrationForm.$submitted">
          Your valid web app domain name is required!</p>
        <p ng-show="registrationForm.webAppDomain.$error.url && registrationForm.$submitted">
          Please enter your valid web app domain name!</p>
    </div>
    <div class="form-group">
        <label>Please Re-enter Your Password</label>
        <input type="password" ng-model="user.password" class="form-control" placeholder="Password">
        <p ng-show="registrationForm.password.$error.minlength && registrationForm.$submitted" class="help-block">password must be at least 8 characters.</p>
        <p ng-show="registrationForm.password.$error.required && registrationForm.$submitted" class="help-block">password is required.</p>
    </div>
    <button type="submit" >Submit</button>
</form>
<button ng-click="cancelEdit()" >Cancel</button>