

/* BASIC STYLINGS
============================================================================= */
body                            { padding-top:5px; }

/* form styling */
#form-container                { background:#ffffff; margin-bottom:5px;
    border-radius:5px; }
#form-container .page-header   { background:#ffffff; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 { display: block }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; color: black; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background:#C7CB11; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#9A00BC; }

canvas{

	position: absolute;
	z-index: -1;

}

#yourCake {

	display: block;
	padding: 10px;
	width: 500px;
	max-height: 100%;
	margin: 0 auto;

}

#cakeImg{

	width: 150px;
	margin: 0 auto;


}

#p1next{
	display: inline-block;
	margin-left: 50px;
}

#p1last{
	display: inline-block;
	margin-right: 50px;
}

#cakeObjImg{

	display: block;
	padding: 10px;
	max-width: 500px;
	height: 500px;
	border-radius: 5px;
	margin: 0 auto;
	background: black;
	border: 3px solid red;

	

	#roundCake{

		#bottom{

			margin-top: 200px;

		}
		#middle{

		  margin-top: 117px;
		  // right: 123px;
		  // left: 123px;
		  position: absolute;
		  z-index: 2;
		}
		#top{
		  margin-top: 42px;
		  // right: 144px;
		  // left: 144px;
		  position: absolute;
		  z-index: 3;
		}
	}

	#squareCake{
		
		margin-left: -2%;

		#bottom{

			margin-top: 200px;

		}
		#middle{

		  margin-top: 144px;
		  position: absolute;
		  z-index: 2;
		  height: 175px;
		}
		#top{
		  margin-top: 98px;
		  height: 153px;
		  position: absolute;
		  z-index: 3;
		}

	}
	#recCake{
		


		#bottom{

			margin-top: 258px;
			

		}
		#middle{

		  margin-top: 229px;
		  position: absolute;
		  z-index: 2;
		}
		#top{
		  margin-top: 203px;
		  position: absolute;
		  z-index: 3;
		}

		#recLayOneColor{
			position: absolute;
			padding: 10px;
			max-width: 500px;
			height: 500px;
			margin: 0 auto;
			background: black;
		}



	}


}

