<h1>Your Account</h1>

<p>Business Name : {{user.merchantId}} <button ng-click="editAccount('merchantId')">Edit</button></p>
<p>Contact Email : {{user.email}} <button ng-click="editAccount('email')">Edit</button></p>
<p>Contact Phone : {{user.phone}} <button ng-click="editAccount('phone')">Edit</button></p>
<p>Business Description : {{user.description}} <button ng-click="editAccount('description')">Edit</button></p>
<p>Callback Url : {{user.callbackUrl}} <button ng-click="editAccount('callbackUrl')">Edit</button></p>
<p>API Key: {{user.apiKey}} </p>
<p>API Secret : {{user.apiSecret}} </p>
<p>Seller Tcho Tcho Account: {{user.sellerAccount}} <button ng-click="editAccount('sellerAccount')">Edit</button></p>
<p><button style="color:red" ng-click="editAccount('password')">Change Password</button></p>



