
<!-- ENTER INFO -->
<div id="enter-info-color-top">
	<!-- <img id='haiti-button' src='/images/haiti_640.png' alt='' height='100' width='120'> -->
	<img id='haiti-button' src='/images/logo.png' alt='' height='145' width='190'>
</div>
<div id="enter-info-color-bottom">
	
	
	<!-- PAYMENT PROCESSED -->

	<div 
		ng-if="paymentprocessed"
		class="form-group" 
		ng-class="form-control">
		<h4>Payment Successfully Processed!</h4>
		<p><img id="check" src="/images/check.png" alt="purchased-check" height="128" width="128"></p>
		<p>Your account was charged HTG {{iframe.chargeAmount}}.</p> 
		<p>You will receive a receipt via text message.</p>
		<button 
			type="submit"
			style="color: white;
	   	  background-image: linear-gradient(rgb(98, 196, 98), rgb(81, 163, 81));" 
			class="btn btn-default" >OK
		</button>

	</div>


	<!-- Authorizing iFRAME -->
	<div 
		ng-if="authorizing"
		class="form-group" 
		id="authorizing"
		ng-class="form-control">
		<h5>Authorizing Transaction...</h5>
		<img src="/images/circular-spinner.gif" id="authorizing-spinner" height="100" width="100">
	</div>

	<div 

		class="form-group" 
		ng-class="form-control" ng-if="enterinfo">
	    <label for="description">Account Number:</label>
	    <input 
	    	type="text" 
	    	name="buyerAccount" 

	    	ng-model="iframe.buyerAccount" 
	    	class="form-control focusedInput" 
	    	id="description" 
	    	placeholder="509 1111 1111"  
	    	required>


		<div 

			class="form-group" 
			ng-class="form-control">
		    <label for="description">PIN:</label>
		    <input 
		    	type="text" 
		    	name="pinnumber" 
		    	ng-model="iframe.pin" 
		    	class="form-control focusedInput" 
		    	id="description" 
		    	placeholder="1234" 
		    	required>
		</div>

		<p>
			This transaction will be non-refundable. Only click "buy" if you trust this merchant. If the transaction is processed we will send you a receipt via text message.
		</p>

		<button 
			ng-click="someFunc()"
			type="submit" 
			style="background-image: linear-gradient(rgb(98, 196, 98), rgb(81, 163, 81)); margin-top: 10px"
			 class="btn" >Pay HTG {{iframe.chargeAmount}}
		</button>


	</div>
</div>

<!-- AUTHORIZING MERCHANT -->
<div 
	ng-if="authorizingmerchant"
	class="form-group" 
	ng-class="form-control">
	<p>Authorizing Transaction with Merchant</p>
	<p><img src="/images/circular-spinner.gif" alt="loading-spinner" height="100" width="100"></p>
</div>

<!-- MERCHANT ERROR-->
<div 
	ng-if="merchanterror"
	class="form-group" 
	ng-class="form-control">

	<p>{{merchantId}} is not authorized to use this service.</p>
	<p><img src="/images/no.png" alt="purchased-check" height="100" width="100"></p>
	
	<button 
		ng-if="merchanterror"
		type="submit" 
		class="btn btn-default" >OK
	</button>
</div>


<!-- AUTHORIZING TCHO TCHO -->
<div 
	ng-if="authorizingtchotcho"
	class="form-group" 
	ng-class="form-control">
	<p>Authorizing Transaction with TchoTcho</p>
	<p><img src="/images/circular-spinner.gif" alt="loading-spinner" height="100" width="100"></p>
</div>


<!-- PAYMENT ERROR -->

<div 
	ng-if="paymenterror"
	class="form-group" 
	ng-class="form-control">
	<p>TchoTcho was unable to process your transaction.</p> 
	<p>Please ensure that you properly entered your account number and PIN, and that you have enough money in your account to purchase the items requested from the merchant.</p>
	<p>If the problem persists, please contact TchoTcho.
	</p>
	<p><img src="/images/no.png" alt="purchased-check" height="100" width="100"></p>
	

	<button 
		ng-if="paymenterror"
		type="submit" 
		class="btn btn-default" >OK
	</button>

</div>




<!-- 

to build:
	iframe.js

new ng-if states:
	enter-info
	authorizing-merchant
	merchant-error
	authorizing-tchotcho
	payment-error
	payment-processed

-->