.storeItem{
	float: left;
	border: 1px solid #333;
	margin-bottom:20px;
	padding:10px;
	h5 {
		font-size:14px;
	}
}

.store-buttons {
	background-color: #181B25;
}

.modal-footer {
	text-align: center;
}

.modal-content {
	border-radius: 0px;
	background: #181B25;
}
