<navbar></navbar>
<form name="registrationForm" ng-submit="registrationForm.$valid && submitEditCard()">
                
    <br>
    <h1 id="failPass" ng-show="failPass">Invalid password.  Please enter a valid password.</h1>
    <br>
    <p><strong>Current Email:</strong></p>
    <p>{{currentProperty}}</p>
    <br>
    <div class="form-group" ng-class="{ 'has-error' : registrationForm.password.$invalid && registrationForm.$submitted }">
        <label for="login-password">Please Enter Your Current Password</label>
        <input type="password" name="password" ng-model="user.password" class="form-control" id="login-password" placeholder="Enter password." required>
        <p ng-show="registrationForm.password.$error.minlength && registrationForm.$submitted" class="help-block">password must be at least 8 characters.</p>
        <p ng-show="registrationForm.password.$error.required && registrationForm.$submitted" class="help-block">password is required.</p>

    </div>
    <div class="form-group">
        <label>Please Enter Your New Password</label>
        <input type="password" ng-model="user.newPasswordOne" class="form-control" placeholder="Password">
        <p ng-show="registrationForm.password.$error.minlength && registrationForm.$submitted" class="help-block">password must be at least 8 characters.</p>
        <p ng-show="registrationForm.password.$error.required && registrationForm.$submitted" class="help-block">password is required.</p>
    </div>
    <div class="form-group">
        <label>Please Re-enter Your New Password</label>
        <input type="password" ng-model="user.newPasswordTwo" class="form-control" placeholder="Password">
        <p ng-show="registrationForm.password.$error.minlength && registrationForm.$submitted" class="help-block">password must be at least 8 characters.</p>
        <p ng-show="registrationForm.password.$error.required && registrationForm.$submitted" class="help-block">password is required.</p>
    </div>
    <p style="color: red" ng-show="passCheck">The new password you re-entered for confirmation does not match</p>
    <p style="color: red">Please Note: You will be logged out and will need to login again with your new email address.</p>

    <button type="submit" >Submit</button>

</form>
<button ng-click="cancelEdit()" >Cancel</button>