#login-page{
  #login-form {
    width: 60%;
    margin: 0 auto;
  }

  .form-group {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
  }

  #third-party-login {
  	width: 60%;
  	margin: 0 auto;
  }

  .btn {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
  }

  h4 {
    font-family: 'Indie Flower', cursive;
  }

  h2 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding: 20px;
  }

  #password {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
  }

.reset-form {
  margin-top: 20px;
  margin-bottom: 20px;
}