<h2>Your Cart</h2>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Blend</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
        <td>{{ blend.info }}</td>
        <td>{{ blend.quantity }}</td>
        <td>{{ blend.price }}</td>
        <td>{{ blend.quantity * blend.price | currency }}</td>
        <td><a href ng-click="removeItem($index)">X</a></td>
        <td><a href ng-click="editItem($index)">Edit Quantity</a></td>
      </tr>
      <tr>
        <td>Total: </td>
        <td>{{total() | currency}}</td>
      </tr>
    </tbody>
  </table>
  <div>{{ items }}</div>
  <button class='btn btn-success' ng-click="checkout()">Checkout</button>
</div>




