<div class="cart container">
<h2>Your Cart</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Blend</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
        <td>{{ item.name }}</td>
        <td>
        <input type="number" min="0" ng-model="item.quantity">
        </input>
        </td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity * item.price | currency }}</td>
        <td><a href ng-click="removeItem($index)">X</a></td>
      </tr>
      <tr>
        <td>Total: </td>
        <td>{{total() | currency}}</td>
      </tr>
    </tbody>
  </table>
  <button class='btn btn-success' ng-click="checkout(items)">Checkout</button>
  <button class='btn btn-success' ng-click="clearCart()">Clear Cart</button>

</div>




