<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Mean Microgreens</title>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type ="text/css" href="http://localhost:1337/iframe.css"/>

    <script src="/lodash/index.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://rawgithub.com/jashkenas/coffee-script/master/extras/coffee-script.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div ui-view></div>
</body>
</html>