
<div class="row">
<div class="col-sm-8 col-sm-offset-2">


    <div id="form-container" class="text-center">
        <div class="page-header text-center">    
            <h1> Build a Cake Form</h1>
            <!-- <h1>{{ shapes }}</h1> -->
            <div id="yourCake">



                
<!--                 <img id="cakeImg" src="http://cakeexpress.co.in/images/CAKE-BIRTHDAY21.png">
                <p>(We hope you're the type of person who enjoyed alphabet soup.)</p> -->
                <br>
                <br>

                <p><b>Cake Name</b><p>
                {{cake.name}}
                <br>
                <br>

                <p><b>Number of Layers</b><p>
                {{cake.selectedNumLayers}}
                <br>
                <br>
                <p><b>Cake Shape</b></p>
                {{currentPrices.shape.name}}
                <br>
                <br>
                <p><b>Cake Icing</b></p>
                {{currentPrices.icing.name}}
                <br>
                <br>
                <p><b>Layer 1 Filling (if at all)</b></p>
                {{currentPrices['layers'][0]['filling'].name}}
                <br>
                <br>
                <p><b>Layer 2 Filling (if at all)</b></p>
                {{currentPrices['layers'][1]['filling'].name}}
                <br>
                <br>
                <p><b>Layer 3 Filling (if at all)</b></p>
                {{currentPrices['layers'][2]['filling'].name}}
                <br>
                <br>
                <p><b>Cake Order Quantity</b></p>
                <p>{{cake.numOrdered}}</p>
                <br>
                <br>
                <p><b>Cake Price</b></p>
                <p>${{cake.price}}</p>

            </div>
    
                    <div id="cakeObjImg">

                        <div id="roundCake" ng-show="currentPrices.shape.name === 'round'">
                            <img src="/images/round-bottom-fitted-300.png" width="400" id="top" ng-show="currentPrices.selectedNumLayers === 3" style="colors[2]">
                            <img src="/images/round-bottom-fitted-350.png" width="400" id="middle" ng-show="currentPrices.selectedNumLayers === 2 || currentPrices.selectedNumLayers === 3" style="colors[1]">
                            <img src="/images/round-bottom-fitted-400.png" width="400" id="bottom" style="colors[0]">
                        </div>
                       <div id="squareCake" ng-show="currentPrices.shape.name === 'square'">
                            <img src="/images/square-bottom-300.png" width="500" id="top" ng-show="currentPrices.selectedNumLayers === 3" style="colors[2]">
                            <img src="/images/square-bottom-350.png" width="500" id="middle" ng-show="currentPrices.selectedNumLayers === 2 || currentPrices.selectedNumLayers === 3" style="colors[1]" >
                            <img src="/images/square-bottom-400.png" width="500" id="bottom" style="colors[0]">
                        </div>
                       <div id="recCake" ng-show="currentPrices.shape.name === 'rectangle'">
                            <img src="/images/rect-bottom-300.png" width="400" id="top" ng-show="currentPrices.selectedNumLayers === 3" style="colors[2]">
                            <img src="/images/rect-bottom-350.png" width="400" id="middle" ng-show="currentPrices.selectedNumLayers === 2 || currentPrices.selectedNumLayers === 3" style="colors[1]" >
                            <img src="/images/rect-bottom-400.png" width="400" id="bottom" ng-style="colors[0]">
                         
                        </div>

                    </div>
            <form id="cake-builder-wizard" name="buildCakeForm" ng-submit="storeCake(cake)">

                <!-- check that cake.$valid is true && execute functions on submit above -->
                

                <div id="form-views" ui-view></ui-view>
    
            </form>
        </div>
    </div>
    <p>_____________________________________________________</p>

            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref="cake-builder.first"><span>1</span> Pretty Things</a>
                <a ui-sref-active="active" ui-sref="cake-builder.second"><span>2</span> It's What's Inside</a>
                <a ui-sref-active="active" ui-sref="cake-builder.third"><span>3</span> Make It Mine</a>

            </div>
          <div id="p1last">
                <a href="http://localhost:1337/store/558116360978b6f684709014/cake-builder/{{linkArr[linkNum]}}">
                <img src="/images/play_button.png" alt="Next" width="42" height="42" ng-click ="linkNum = linkNum - 1">
                </a>
     <!--            <img src= "http://i628.photobucket.com/albums/uu7/riobucket_album/ArrowDownGreenGloss.gif"> -->
            </div>
             <div id="p1next">
                <a href="http://localhost:1337/store/558116360978b6f684709014/cake-builder/{{linkArr[linkNum]}}">
                <img src="https://www.movenote.com/images/play_button.png" alt="Next" width="42" height="42" ng-click ="linkNum = linkNum + 1">
                </a>
     <!--            <img src= "http://i628.photobucket.com/albums/uu7/riobucket_album/ArrowDownGreenGloss.gif"> -->
            </div>
</div>
</div>

        <!-- <button ng-click="deleteCake(cake.name)">Delete Cake</button> -->







    <!--                 <span>Question</span>
        <error-message ng-show="editCardForm.question.$touched && editCardForm.question.$error.required">
            Question is a required field.
        </error-message>
        <error-message ng-show="editCardForm.question.$error.minlength">
            Your question needs to be atleast 15 characters long.
        </error-message>
        <input ng-model="editedCard.question" type="text" ng-minlength="15" required name="question"><br>
        <span>Answer</span>
        <error-message ng-show="editCardForm.Answer1.$error.maxlength">
            Your answer is too long.
        </error-message>
        <input ng-model="editedCard.answers[0].text" required type="text" ng-maxlength="40" name="Answer1"><br>
        <input ng-model="editedCard.answers[0].correct" type="checkbox" value="Check">This the correct answer<br>
        <span>Answer</span>
        <error-message ng-show="editCardForm.Answer2.$error.maxlength">
            Your answer is too long.
        </error-message>
        <input ng-model="editedCard.answers[1].text"  required ng-maxlength="40" type="text" name="Answer2"><br>
        <input ng-model="editedCard.answers[1].correct" type="checkbox" value="Check">This the correct answer<br>
        <span>Answer</span>
        <error-message ng-show="editCardForm.Answer3.$error.maxlength">
            Your answer is too long.
        </error-message>
        <input ng-model="editedCard.answers[2].text"  required ng-maxlength="40" type="text" name="Answer3"><br>
        <input ng-model="editedCard.answers[2].correct" type="checkbox" value="Check">This the correct answer<br> -->